/* Color Palette */
:root {
  --primary-color: #0779e4; /* A professional blue for highlights and buttons */
  --accent-color: #F8B400; /* A contrasting color for accents */
  --light-color: #f4f4f4; /* A light gray for backgrounds */
  --dark-color: #333; /* A dark gray for text and headers */
  --text-color: #444; /* A slightly lighter gray for body text */
}

/* Core Typography & Layout */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--light-color); /* Use the new color variable */
    color: var(--text-color); /* Use the new color variable */
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
    color: var(--dark-color); /* Use the new color variable */
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/* Header & Footer */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
    text-align: center; /* Center the header content */
}

footer {
    padding: 20px;
    margin-top: 40px; /* Add more space above the footer */
    color: #fff;
    background-color: #333;
    text-align: center;
}

/* Basic Responsive adjustments for small screens */
@media(max-width: 600px) {
    .container {
        width: 95%;
    }

    h1 {
        font-size: 2em; /* Smaller headings on mobile */
    }
}