---
layout: "base.njk"
title: "Mon-Do Title Co Inc - Your Local Title & Escrow Experts"
---

<section id="hero">
    <div class="container">

        <div class="hero-header">
            <div class="hero-text">
                <h1>Welcome to Mon-Do Title</h1>
            </div>
            <div class="hero-cta">
                <a href="/title-search-form/" class="button-primary">Start Your Title Order</a>
            </div>
        </div>
        
        <div class="content-with-image">
            <img src="/images/home-front-515x386.jpg" alt="Mon-Do Title Co. Office Front" class="office-img">
            <p>A Title and Escrow Company motivated to provide superior service to our customers in a friendly, no stress environment using both new and established technology.
            <br><br>Mon-Do Title Co., is a locally owned and operated title and escrow company serving Montezuma and Dolores Counties in Colorado. 
            <br><br>With our own in-house title plant we are able to preform searches as far back as patent. 
            <br><br>We know the area because we have lived in the area for most of our lives. Our goal is to make your transaction smooth and stress free. 
            <br><br>We may not be pretty, but we have great personalities!</p>
        </div>
    </div>
</section>

<section id="home-cta">
    <div class="container">
        
        <div class="card-container">
            <div class="card">
                <h3>Mortgage Calculator 🛠️</h3>
                <p>Plan your budget and estimate your monthly payments with our helpful mortgage calculator.</p>
                <a href="/mortgage-calculator/" class="button-secondary">Calculate Payments</a>
            </div>
            <div class="card">
                <h3>Meet Our Team 😊</h3>
                <p>Get to know the local experts dedicated to making your transaction smooth and stress-free.</p>
                <a href="/contact/" class="button-secondary">See Our Staff</a>
            </div>
            <div class="card">
                <h3>Have Questions? ❓</h3>
                <p>We're here to help. Contact us with any questions about the title and escrow process.</p>
                <a href="/contact/" class="button-secondary">Get in Touch</a>
            </div>
        </div>

    </div>
</section>