---
layout: "base.njk"
title: "Mon-Do Title Co Inc - Your Local Title & Escrow Experts"
---

<section id="hero">
    <div class="container">
        <h1>A Title and Escrow Company motivated to provide superior service to our customers in a friendly, no stress environment using both new and established technology.</h1>
        
        <div class="content-with-image">
            <img src="/images/home-front-515x386.jpg" alt="Mon-Do Title Co. Office Front" class="office-img">
            <p>Mon-Do Title Co., is a locally owned and operated title and escrow company serving Montezuma and Dolores Counties in Colorado. 
            <br><br>With our own in-house title plant we are able to preform searches as far back as patent. 
            <br><br>We know the area because we have lived in the area for most of our lives. Our goal is to make your transaction smooth and stress free. 
            <br><br>We may not be pretty, but we have great personalities!</p>
        </div>
    </div>
</section>