---
layout: "base.njk"
title: "Seller's Corner - Mon-Do Title Co Inc"
---

<h1 id="page-top">Seller's Corner</h1>

<p>Your house is too small. Your house is too big. It’s in the city and you want to live in the country, or it’s in the country and you want to live in the city. Whatever reason there is, you want a ‘for sale’ sign in your front yard. You probably will never sell anything more valuable than your home. This means you’ll want to get the most from your long-term investment.</p>

<p>Where and how do you begin this process?&nbsp;</p>

<p>The first step in getting your home ready to sell is to "de-personalize" it. A house can be a place to eat, sleep, park your car and put all your "stuff" (including other family members). A home is where you feel comfortable, warm, safe and protected. A home is where you live.&nbsp;</p>

<p>De-personalizing your home allows a potential buyer to perceive your house as their potential home. Removing family elements such as photos, sports trophies, collectible items, knick-knacks and souvenirs allows the buyer to picture it with his “stuff”, thereby putting his “brand” on the home. You might want to store these prized family items in an air-conditioned storage.&nbsp;</p>

<nav class="page-toc">
    <h3>On This Page</h3>
    <ul>
        <li><a href="#clutter-removal">Clutter Removal</a></li>
        <li><a href="#exterior">The Exterior of the House</a></li>
        <li><a href="#why-hire-agent">Why Hire a Real Estate Agent</a></li>
        <li><a href="#setting-price">Setting the Price</a></li>
        <li><a href="#showing-house">Showing your House to Potential Buyers</a></li>
        <li><a href="#the-contract">The Contract</a></li>
        <li><a href="#preparing-for-closing">Preparing for Closing</a></li>
    </ul>
</nav>
<hr>

<h2 id="clutter-removal">Clutter Removal</h2>
<p>Part of preparing a house for sale is removing the "clutter.” Through the years, you’ve amassed a significantly large quantity of “stuff.” Remember when you first looked at your new home? You opened the cabinets, pulled the drawers and opened closet doors. Your buyers will be doing the same thing, so getting rid of the extra stuff that has gathered over the years will help your house look ready for its next owner.</p>

<h3>Areas especially vulnerable to examination are:</h3>
<ul>
    <li><strong>The kitchen</strong> – clean out the pantries, cupboards and shelves – keep trashcans hidden and of course emptied.</li>
    <li><strong>Closets</strong> – Closets are great places for accumulating “stuff”. Extra clothes, shoes and accessories that may not have seen daylight for sometime can all be boxed and placed in storage. Cleaning this space out also makes your closets look bigger – a huge item on any buyer’s list.</li>
    <li><strong>Furniture Clutter</strong> – A room can look overcrowded if you have it full of furniture. That big over-stuffed sofa or your favorite worn, but comfortable recliner may need to find a temporary home when showing your house to prospective buyers. Again, remember, the buyer wants to envision his or her own favorite pieces in the house. You may want to tour some builder’s models to see how they place furniture in the model homes. You can then get an idea of how to place your own furniture to provide the maximum effect – getting an offer.</li>
    <li><strong>Storage Areas</strong> – These are favorite places for “stuff” to gather. Like magnets, basements, garages, attics and sheds attract whatever doesn’t go into the living room, bedrooms, closets or kitchen. Things like Uncle Henry’s old bowling ball, Aunt Hilda’s sketches of her parakeet or even your “Elvis is alive and well” poster. This might be the perfect time to have that garage sale you’ve been putting off. Cleaning up and cleaning out will dramatically enhance your selling efforts.</li>
</ul>

<h3>Plumbing and Fixtures</h3>
<p>Check all fixtures to make sure they turn easy and that faucets do not leak. The fixtures should look as shiny and new as possible.</p>

<h3>Ceilings, Walls, and Painting</h3>
<p>Check your walls and ceilings for water stains. Sometimes old leaks leave stains, even after the leak has been repaired. If you should find a leak, of course have it repaired. Painting can be your best investment when selling your house. A neutral color – beige, cream, ivory or standard off-white will allow your buyers to picture your house with their color schemes. The lighter color also adds brightness to the rooms and makes them appear more spacious.</p>

<h3>Carpet and Flooring</h3>
<p>Unless your carpet appears old and worn, or is definitely an outdated style, hiring a good carpet cleaner may be all you need. If you choose to replace the carpet, find something inexpensive in a fairly neutral color.</p>

<h3>Windows and Doors</h3>
<p>Check all windows and doors to make sure they open easily and without noise. Invest in a can of WD-40 and spray all the hinges to ensure that each opens smoothly. Check your windows for cracked or broken windowpanes. Of course, this would be a good time to clean them allowing your rooms to be bright. As potential buyers go from room to room, someone will open each door and you want to do everything necessary to create a positive impression.</p>

<h3>Odor Control</h3>
<p>For those who smoke, you might want to minimize smoking indoors while trying to sell your home. You also could purchase an ozone spray that helps to remove odors without creating a masking odor. Pets create odors that you may have become used to, but are immediately noticeable to those with more finely tuned olfactory senses. If you are a cat owner, be sure to empty the kitty litter box on a daily basis. There also are products that you can sprinkle in a layer below the kitty litter that helps to control odor. For those with dogs, keep the dog outdoors as much as possible. You might also try sprinkling carpet freshener on the carpet on a periodic basis.</p>

<p class="back-to-top" style="text-align: right;"><a href="#page-top">Back to Top</a></p>

<h2 id="exterior">The Exterior of the House</h2>
<p>Cleaned out closets and cabinets, washed windows, new paint on the walls and freshly cleaned carpets, along with shiny new faucets and replaced light bulbs – the inside of your home sparkles as it entices potential buyers to “take a look”. But we’re not quite finished. Before the buyer steps over the threshold, will he or she need to walk through the un-mown grass, step over the kid’s bicycles or dodge the game of kick ball being played on your front lawn?</p>
<p>Your potential buyer’s first impression of your house will be based on his or her view of the house from the inside of their agent’s car. So, it’s back to work!</p>
<p>Take a walk across the street and take a good look at your house. Look at the houses nearby to see how they compare to yours. If yours already looks better, then you are several steps ahead of the game.</p>

<h3>Landscaping</h3>
<p>Is your landscaping at least average for the neighborhood? If not, buy a few bushes and plant them. If you have an area for flowers, buy mature colorful flowers and plant them. Flowers add a splash of vibrancy and color, creating a favorable first impression. Your lawn should be evenly cut, freshly edged, well watered and free of brown spots. If there are problems with your lawn, you should probably take care of them before working on the inside of your home. This is because certain areas may need to be re-sod, and you want to give it a chance to grow so that re-sod areas are not immediately apparent. Plus, you might want to give fertilizer enough time to be effective. Always rake up loose leaves and grass cuttings.</p>

<h3>House Exterior</h3>
<p>The big decision is whether to paint or not to paint. When you look at your house from across the street, does it look tired and faded? If so, a paint job may be in order. It often is a very good investment and really spruces up the appearance of a house, adding dollars to offers from potential homebuyers. Choose a color that fits well in your neighborhood. Of course, the color also depends on the style of your house, too. For some reason, different shades of yellow seem to bring out the best response in homebuyers, whether it is in the trim or the basic color of the house. As for the roof, if you know your house has an old leaky roof, replace it. If you do not replace a leaky roof, you are going to have to disclose it and the buyer will want a new roof, anyway. Otherwise, wait and see what the home inspector says. Why spend money unnecessarily?</p>

<h3>The Back Yard</h3>
<p>The back yard should be clean and neat. If you have a pool or spa, keep it freshly maintained and always clean. Dog owners – be sure to consistently keep the area clear of "debris."</p>

<h3>Front Door & Entryway</h3>
<p>Your front door should be especially nice, since it is the entryway into the house. Polish the door fixture so it gleams. If the door needs refinishing or repainting, make sure to get that done. Remove anything with a personal nature, plaques, doormats, name plates, etc. The idea is again, to let your potential buyer visualize the home as his. Make sure the lock works easily and the key fits properly. When a homebuyer comes to visit your home, the agent uses the key from the lock box to unlock the door. A sticky lock can cause a ‘sticky situation’.</p>

<p class="back-to-top" style="text-align: right;"><a href="#page-top">Back to Top</a></p>

<h2 id="why-hire-agent">Why Hire a Real Estate Agent</h2>
<p>Selecting an agent is one of the most pivotal decisions when selling your home. It is important to seek advice about this important financial transaction from someone who "sells" houses for a living.</p>
<p>Working with professional real estate agents is beneficial for several reasons:</p>
<ul>
    <li>They will help establish a fair asking price for your house.</li>
    <li>They will promote your house to other agents and list your property in multiple listing services so your house will receive maximum exposure.</li>
    <li>They will create, pay for and place advertising for you.</li>
    <li>They will schedule appointments to show your house to prospective buyers even when you are not there.</li>
    <li>They can weed out buyers who will not qualify for a mortgage.</li>
    <li>They can refer you to sources for insurance, inspections, legal counsel and financing.</li>
    <li>They will help negotiate with the buyer.</li>
</ul>

<h3>Choosing an Agent</h3>
<p>Since you will be working closely with an agent, choose an agent with whom you feel comfortable. One who is responsive to your needs and the needs of your family, one who compliments your personality, and one who is prepared to be with you throughout each step of the home-selling process:</p>
<ul>
    <li>Get referrals from trustworthy family and friends.</li>
    <li>Seek an experienced agent with a known reputation – look at credentials, track records and awards received.</li>
    <li>Select someone who is a member of the Board of Realtors®.</li>
    <li>Interview at least three agents.</li>
    <li>Find someone who is continuing his/her education – a Certified Residential Specialist (CRS), Certified Residential Broker (CRB) or a Graduate of the Realtors Institute (GRI) – this shows the Realtor has a long-term interest in the business and is willing to invest in his/her career</li>
</ul>
<p>These questions, asked of family and friends who have dealt with a specific real estate agent, will help you learn what you need to know about agents:</p>
<ul>
    <li>What were they like to deal with?</li>
    <li>How hard did they work for you?</li>
    <li>Did they get you a good price?</li>
    <li>Were there any complications?</li>
    <li>Did they always tell the truth?</li>
    <li>Were they always looking out for you or just interested in getting paid?</li>
    <li>Would you use their services again?</li>
</ul>
<p>After interviewing a few agents, ask yourself the following questions to narrow your choice:</p>
<ul>
    <li>Which one returned your phone calls?</li>
    <li>Which one was most enthusiastic about selling your house?</li>
    <li>Which one provided a competitive market analysis – an in-depth discussion on how the selling price was determined?</li>
    <li>Which one provided a detailed marketing plan?</li>
    <li>Which one provided a time frame on how long it may take to sell your house?</li>
    <li>Which one explained things most clearly?</li>
    <li>Which one made you feel most comfortable?</li>
</ul>

<h3>What to Expect from a Real Estate Professional</h3>
<p>Expect:</p>
<ul>
    <li>To be treated as a respectable client, not as a transaction.</li>
    <li>To have your best interests represented.</li>
    <li>To be served selflessly – your agent shouldn’t be eyeing your wallet.</li>
    <li>Your agent to work as hard for you as he/she would for himself/herself.</li>
    <li>The highest skills available.</li>
    <li>To have calls returned promptly and to be kept up to date.</li>
    <li>Your agent to go above and beyond what’s expected when dealing with problems that may arise.</li>
    <li>Your agent to be a trusted advisor that you can consult even when the transaction is complete.</li>
</ul>
<p>Rely on instinct to determine which agent is right. The right person will have suitable credentials, a marketing plan you agree with and will make you feel comfortable.</p>

<p class="back-to-top" style="text-align: right;"><a href="#page-top">Back to Top</a></p>

<h2 id="setting-price">Setting the Price</h2>
<p>It is human nature for you to want the highest price for your home. However, to set the right price on your house, combine an objective evaluation of your property with a realistic assessment of market conditions.</p>

<h3>Study the Comparables</h3>
<p>You are more likely to benefit by determining a fair value and sticking close to it than by asking an unrealistic figure. Under pricing can deprive you of money that’s rightfully yours. Unless rushed, aim for full market value. Be cautious of either overpricing or under pricing if you rely on less-than-solid information. Know your competition. Learn the offering and selling prices of similar properties. Find out how long each took to sell. Compare your home to others close in age, style, size, condition and location. Timing is all-important. If market demand is high, you should be able to increase the price. Sales prices of homes are published in local or regional sections of newspapers.</p>

<h3>Get an Appraisal</h3>
<p>Appraisal opinions are subject to honest dispute. Generally, an appraisal prepared by an experienced, licensed professional comes as close to an objective evaluation as you can get.</p>

<p class="back-to-top" style="text-align: right;"><a href="#page-top">Back to Top</a></p>

<h2 id="showing-house">Showing your House to Potential Buyers</h2>
<p>Your house should always be available for a potential buyer to see, even though it occasionally may be inconvenient for you. Your agent will probably suggest a lock box placed in a convenient location that will make it easy for other agents to show your home. Most agents will call and give you at least a couple of hours notice before showing your property.</p>

<h3>Leaving the House</h3>
<p>Potential homebuyers may feel like intruders if you are home when they visit, and they might not be quite as receptive toward viewing your home. Visit the local coffee house, yogurt shop or take the kids to the local park. If you absolutely cannot leave, try to remain in an out of they way area of the house and not move from room to room. Allow your agent to do all the talking – but do answer any questions the agent may ask.</p>

<h3>Lighting</h3>
<p>When you know someone is coming by to tour your home, turn on all the indoor and outdoor lights – even during the day. At night, a lit house gives a warm, inviting impression when viewed from the street. During the daytime, turning on the lights prevents harsh shadows from sunlight and it brightens up any dim areas. Your house will look more receptive to the buyers.</p>

<h3>Fragrances</h3>
<p>Do not use scented sprays to prepare for visitors. For a pleasant aroma in your house, use a potpourri pot or turn on a stove burner for a moment with a drop of vanilla extract on it. It will smell like vanilla cookies and who can resist a house with fresh baked cookies.</p>

<h3>Pet Control</h3>
<p>If you have pets, make sure your agent puts a notice with your listing in the multiple listing service. If you know a buyer is coming, try taking your pets with you while the homebuyers tour your home. If that isn’t possible, keep Fido and Max in a penned area in the back yard. Try to keep indoor cats in a specific room when you expect visitors, and put a sign on the door. Most of the time, an indoor cat will hide when buyers come to view your property.</p>

<h3>The Kitchen Trash</h3>
<p>Having an empty trashcan, freshly lined with plastic is much more appealing than having one with last night’s spaghetti box showing. Go through your house and make sure all the trashcans are empty, newly line and have clean odors. It might even be a good idea to wash the trashcans at least once a week while your house is on the market. Not only will it make your house smell clean, it keeps germs from building up.</p>

<h3>Keep the House Neat and Clean</h3>
<p>A nicely made bed, some fresh flowers on the nightstand will make your bedroom seem very inviting. Walk around your house just before your buyers come by and pick up any newspapers, empty glasses or other clutter that may have made its way into your rooms. Keep everything freshly dusted and vacuumed. Try your best to have it look like a model home – a home with furniture but nobody really lives there.</p>

<p class="back-to-top" style="text-align: right;"><a href="#page-top">Back to Top</a></p>

<h2 id="the-contract">The Contract</h2>
<p>A valid real estate contract must be in writing and be freely offered by the buyer and accepted by the seller. All parties to the contract must be legally competent to do business. Money or other valuable consideration needs to be exchanged for title to the property. Keep in mind that if things go wrong, the buyer could require you to sell your home to him/her or pay damages. Be familiar with the terms of any contract you give to a would-be purchaser. Consider the contract as a whole. Is it slanted in favor of the buyer? If so, consult an attorney about making changes. Analyze the document as a series of paragraphs or clauses, each written to benefit one party or the other.</p>

<h3>Key Elements of the Sales Contract</h3>
<p><strong>Price and terms</strong><br>If a low offer comes your way, remain cool until you've examined the terms. Nothing evokes a more emotional response than a low bid. Be realistic and objective because many properties don't bring full price. Don't use price alone as a reason not to counter or negotiate. A first offer may reveal what's most important – price or terms – to this particular buyer, giving you the key to begin bargaining.</p>

<p><strong>Condition of home and inspection</strong><br>The purchaser should have your home inspected for soundness of construction and state of repair. Include all mandatory and voluntary disclosure statements concerning the property's condition, such as known defects in the contract. Be careful what you guarantee. You cannot be sure the roof won't leak, the heating system won't go out or any other number of such assurances. Once the property is sold, you are no longer responsible for it.</p>

<p><strong>Response deadline</strong><br>You'll be asked to respond to an offer within a specified timeframe. Try to get as long a response time as possible. Other offers may come up and you'll want to buy time to review them and perhaps use one offer to increase another.</p>

<p><strong>Settlement date and occupancy</strong><br>If you have another home under contract, ask for a settlement date that will enable you to take your sales profits to the next closing. Be realistic; the buyer of your home probably will need at least 30 to 50 days to arrange financing and close.</p>

<h3>Finalizing</h3>
<p>Everything in the offering contract is negotiable. When everyone has agreed to the terms, initialed the changes and signed the contracts, you've got an agreement binding on all parties. All that remains is removing contingency clauses, arranging financing and clearing title.</p>

<p class="back-to-top" style="text-align: right;"><a href="#page-top">Back to Top</a></p>

<h2 id="preparing-for-closing">Preparing for Closing</h2>
<p>As the seller, you have relatively little to do at this point. Avoid common glitches by keeping abreast of progress on both sides. Be aware if the buyer is having trouble getting a loan on the terms specified in the contract. If he/she is turned down, it could jeopardize the whole deal and your house could be put back on the market. A day or so before closing, make sure all the necessary papers and documents have been gathered and are in the hands of the right parties. Things can go wrong. Documents can be misplaced, delayed or lost. However, common last-minute difficulties can be avoided.</p>
<p>Parties who should be present at closing need to be informed of any change in the date, time or place. They should be reminded a week before closing and again the day before. Everyone named on the deed under which you hold title must sign the new deed by which you grant title.</p>
<p>Know when and how you will be paid. Don't expect to walk away from the settlement table with a check in hand. If you are buying another property, consider having both closings at the same office scheduled back-to-back. That way, the timing of the disbursement is not a problem. You sign a paper authorizing the title company or attorney to assign the funds from sale to purchase.</p>

<h3>The papers you'll need:</h3>
<ul>
    <li>A copy of the sales contract and documentation showing that any contingencies have been removed or satisfied.</li>
    <li>All documents needed to complete the transfer of title. This may include certificate of title, deed, correcting affidavits, quitclaim deeds, survey and title insurance policy.</li>
    <li>Prorations for ongoing expenses such as insurance premiums, property taxes, accrued interest on assumed loans and utilities (if not shut off between owners).</li>
    <li>Receipts showing payment of the latest water, electric and gas bills.</li>
    <li>A certificate from your lender indicating the mortgage balance and the date to which interest has been prepaid.</li>
</ul>

<p class="back-to-top" style="text-align: right;"><a href="#page-top">Back to Top</a></p>