---
layout: "base.njk"
title: "Why Title Insurance is Important - Mon-Do Title Co Inc"
---

<section id="title-insurance-page">
    <div class="container">
        <h1>Why Title Insurance is Important</h1>
        <h2>Protecting your Home Investment</h2>
        <p>A home is usually the largest single investment any of us will ever make. When you purchase a home, you will purchase several types of insurance coverage to protect your home and personal property. Homeowner's insurance protects against loss from fire, theft, or wind damage. Flood insurance protects against rising water, and a unique coverage known as title insurance protects against hidden title hazards that may threaten your financial investment in your home.</p>

        <h2>Protecting Your Largest Single Investment</h2>
        <p>Title insurance is not as well understood as other types of home insurance, but it is just as important. You see, when purchasing a home, instead of purchasing the actual building or land, you are really purchasing the title to the property - the right to occupy and use the space. That title may be limited by rights and claims asserted by others, which may limit your use and enjoyment of the property and even bring financial loss. Title insurance protects against these types of title hazards.</p>
        <p>Other types of insurance that protect your home focus on possible future events and charge an annual premium. On the other hand, title insurance protects against loss from hazards and defects that already exist in the title and is purchased with a one-time premium.</p>
        
        <h2>Two Kinds of Title Insurance benefit You in Two Ways</h2>
        <p>There are two basic kinds of title insurance:</p>
        <ul>
            <li>Lender or mortgagee protection,</li>
            <li>Owner's coverage.</li>
        </ul>
        <p>Most lenders require mortgagee title insurance as security for their investment in real estate, just as they may call for fire insurance and other types of coverage as investor protection. When title insurance is provided, lenders are willing to make mortgage money available in distant locales where they know little about the market.</p>
        <p>Owner's title insurance lasts as long as you, the policyholder - or your heirs - has an interest in the insured property. This may even be after you have sold the property.</p>
        <p>Depending on local practices and state law where the property is located, you may pay an additional premium for an owner's policy or you may pay a simultaneous issue charge - usually a smaller amount - for the separate lender coverage. You may even split settlement costs with the seller for the lender or owner's policy.</p>

        <h2>What does Your Premium Really Pay For?</h2>
        <p>An important part of title insurance is its emphasis on risk elimination before insuring. This gives you, the policyholder, the best possible chance for avoiding title claims and loss.</p>
        <p>Title insuring begins with a search of public land records affecting the real estate concerned. An examination is conducted by a title agent or attorney on behalf of its underwriter to determine whether the property is insurable. The examination of evidence from a search is intended to fully report all "material objections" to the title. Frequently, documents that don't clearly transfer title are found in the "title chain," or history, that is assembled from the records in a search. Here are some examples of documents that can present concerns:</p>
        <ul>
            <li>Deeds, wills and trusts that contain improper wording or incorrect names</li>
            <li>Outstanding mortgages and judgments, or a lien against the property because the seller has not paid his taxes</li>
            <li>Easements that allow construction of a road or utility line</li>
            <li>Pending legal action against the property that could affect a purchaser; or</li>
            <li>Incorrect notary acknowledgements.</li>
        </ul>
        <p>Through the search and the examination, title problems are disclosed so they can be corrected whenever possible. However, even the most careful preventative work cannot locate all hidden title hazards.</p>

        <h2>Hidden Title Hazards - Your Last Defense</h2>
        <p>In spite of all the expertise and dedication that go into a title search and examination, hidden hazards can emerge after closing, resulting in unpleasant and costly surprises. Some examples of hazards include:</p>
        <ul>
            <li>A forged signature on the deed, which would mean no transfer of ownership to you</li>
            <li>An unknown heir of a previous owner who is claiming ownership of the property</li>
            <li>Instruments executed under an expired or a fabricated power of attorney; or</li>
            <li>Mistakes in the public records.</li>
        </ul>
        <p>Title insurance offers financial protection against these and other covered title hazards. The title insurer will pay for defending against an attack on title as insured, and will either perfect the title or pay valid claims. All for a one-time charge at closing.</p>
        <p>Your home is your most important investment. Before you go to closing, ask about your title insurance protection, and be sure to protect your home with an owner's title insurance policy.</p>
    </div>
</section>